.p {
  margin: 0;
}
.div {
  position: relative;
  line-height: 56px;
  font-weight: 600;
}
.groupParent,
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: justify;
  font-size: var(--p2a-button-button-text-1-size);
  color: var(--p2a-color-text-c3);
}
.parent {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--p2a-text-title-1-44px-size);
  color: var(--p2a-color-text-c1);
  font-family: var(--p2a-text-sub-title-1-18px);
}
